---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<a
  href={href}
  target="_blank"
  draggable="false"
  aria-labelledby="title"
  class="relative border group text-black-600 p-4"
>
  <h2 id="title" class="font-bold text-xl">
    {title}
    <span>&rarr;</span>
  </h2>
  <p>{body}</p>
  <div
    class="absolute p-4 inset-0 bg-indigo-500 text-white motion-safe:transition-[clip-path] motion-safe:duration-300 ease-out [clip-path:circle(20%_at_120%_120%)] group-hover:[clip-path:circle(170%_at_120%_120%)]"
    aria-hidden="true"
  >
    <h2 class="text-xl font-bold">
      {title}
      <span>&rarr;</span>
    </h2>
    <p>{body}</p>
  </div>
</a>
